<p id="notice">
	<%= notice %>
</p>

<h1>Books</h1>
	<% @books.each do |book| %>
		<table border="1">
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th></th>
			</tr>
			<tr>
				<td>
					<span><%= book.title %></span>
				</td>
				<td>
					<span><%= book.body %></span>
				</td>
				<td>
					<%=link_to "Show", book_path(book.id) %>
					<%=link_to "Edit", edit_book_path(book.id) %>
					<%=link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
				</td>
			<tr>
		</table>
	<% end %>

<h2>New book</h2>
	<%= form_for(@book) do |f| %>

	<% if @book.errors.any? %>
	<p>error</p>
  <div class="alert alert-warning">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

		<h4>Title</h4>
		<%= f.text_field :title %>

		<h4>Body</h4>
		<%= f.text_area :body %>

		<%= f.submit 'Create Book' %>

	<% end %>

